body{
    background-color: #101010;
    color: #ddd;
    font-family: 'Raleway';
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

::selection {
    background: #f38a00;
}



/*------ S C R O L L B A R ------*/
::-webkit-scrollbar {
    width: .7vw;
}


/*---------------------------------*/
#pagina div{
    /* background-color: red; */
    /* width: 800px;  */
    /* margin: 0 auto; */
    text-align: center;
    /* background-color: #2c2c2c; */
    /* vertical-align: auto; */
}

cyan{
    color: #30C6B7;
}

underline{
    text-decoration: underline #ffab3c;
}

p {
    margin-left: 1rem;
    font-size: 130%;
}

#typedtext{
    font-size: 130%;
}

.etiqueta{
    margin-left: 0;
    text-align: left;
    font-family: 'Consolas';
    color: #ffab3c;
    letter-spacing: .15em;
    /* text-transform: uppercase; */
    font-weight: 500;
}

.frase{
    font-size: 170%;
    /* margin: auto; */
    /* padding: 7rem 0; */
    /* font-family: 'Patrick Hand'; */
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1.5px 1.5px  2px #30C6B7;
    background-color: #101010;
    
}

.contenedorFrase{
    margin: auto;
    padding: 2px;
    overflow: hidden;
    background: linear-gradient(to right, #ffab3c 20%, #ffab3c 40%, #30C6B7 50%, #30C6B7 55%, #30C6B7 70%, #ffab3c 100%);
    background-size: 200% auto;
    
    animation: shine 3s linear infinite;
    background-color: #ddd;
}

.frase p{
    margin: 0;
}

.creditos{
    /* font-family: 'Raleway'; */
    float: right;
    font-size: 100%;
    text-shadow: 1.5px 1.5px 2px #ffab3c;
    color: #101010;
}

.title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    display: inline-block;
    padding: 0 1rem;
    border: 2px solid #ccc;
    font-weight: bold;
}

.alinearVertical{
    display: flex;
    align-items: center;
}

.alinearDerecha{
    float: right !important;
}

nav{
    background-color: #101010;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

nav a{
    color: #30C6B7 !important;
}

nav a:hover{
    color: #ffab3c !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 2px #30C6B7 !important;
}

/* .navbar-nav {             !FIJARSE COMO ALINEAR LOS LINKS A LA DERECHAAAAA
    background-color: blue;
    width: 100%;
    text-align: center;
    justify-content: right !important;
    align-items: center !important;
} */

img{
    /* height: 100%; */
    margin: 0;
    width: 100%;
    border-radius: 10%;
    max-width: 200px;
}

#logo{
    max-width: 150px;
}

nav a img{
    width: 30px;
    height: 30px;
}

.seccion img{
    margin-bottom: 1rem;
}

.celeste{
    color: #30C6B7;
}

.cyanUnderline{
    text-decoration: underline #30C6B7;
}

#intro, #about, #skills, #qualification, #services, #proyects, #extra, #contact{
    margin: 10rem auto;
    padding: 10rem 0;
}

#intro{
    padding-top: 6rem;
    margin-top: 0;
}

/*-------- F A D E   I N ----------*/

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;    
}

.fade-in.appear{
    opacity: 1;
}

.from-bottom{
    transform: translateY(50%);
}

.from-left{
    transform: translateX(-50%);
}

.from-right{
    transform: translateX(50%);
}

.from-bottom, .from-left, .from-right{
    transition: 
        opacity 250ms ease-in, 
        transform 400ms ease-in;
    opacity: 0;
}

.from-bottom.appear{
    transform: translateY(0);
    opacity: 1;
}

.from-left.appear, .from-right.appear{
    transform: translateX(0);
    opacity: 1;
}

/*--------- Desplegable seccion skills ---------*/
li{
    list-style: none;
}

/* ------- B O R D E   A N I M A D O ---------- */

/*Begin shimmer code*/

@keyframes shine {
    to {
        background-position: 200% center;
    }
}