#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  color: #000;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #777;
  box-shadow: 5px 5px 0 #000;
}

.container:hover {
  background-color: #aaa;
  cursor: pointer;
}

.container:active {
  box-shadow: 2px 2px #000;
  transform: translate(3px, 3px);
  background-color: #777;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
  font-size: 25px;
}

.counter {
  position: relative;
  top: 3px;
}
